@font-face {
  font-family: Poppins-Thin;
  src: url(../../assets/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins-Semibold;
  src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

.input-component {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border: none; /* reset de bordas */
  outline: none;
  font-family: Poppins-Regular;
  font-size: 1rem;
  border-bottom: 2px solid var(--color-dark-blue);
}

.input-component::placeholder {
  color: var(--color-dark-blue);
}

.button-component {
  width: 100%;
  height: 40px;
  background-color: var(--color-red);
  font-family: Poppins-Regular;
  font-size: 1.125rem; /*se liga nesse cÃ¡lculo :)*/
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  border: 1px solid var(--color-red);
  border-radius: 5px;
}

/* tabela: */

/* Smartphone */
.table-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-top: 50px;
  color: var(--color-white);
  /* border: 1px solid white; */
  font-family: Poppins-Semibold;
  font-size: 65%;
}

.table-component__head {
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* border-bottom: 1px solid var(--color-white); */
}

.head__row,
.body__row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 30px;

  /* gap: 10%; */
}

.row-data {
  text-align: center;
}

.row__data {
  max-width: 100%;
  height: 100%;
  white-space: nowrap;
  padding: 5px 5px 10px;
}

.row__data:first-child {
  text-align: start;
}
.row__data:last-child {
  text-align: right;
  /* width: 20%; */
}

.row__data--head {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.table-data__icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.tooltip--black {
  display: flex !important;
  align-items: flex-start !important;
  align-self: flex-start !important;
}

@media screen and (min-width: 450px) {
  .row__data:last-child {
    max-width: 10%;
  }
}
@media screen and (min-width: 768px) {
  .button-component--middle {
    width: 100%;
  }

  .table-component {
    font-size: 0.8rem;
  }

  .table-data__icon {
    width: 15px;
    height: 15px;
  }
}
