.detalhes-evento__section {
  margin-top: 50px;
  width: 100%;
  height: 50vh;
  /* background-color: green; */
}

.detalhes-evento__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;

}

.uga {
}

.detalhes-lista__section {
  background-color: var(--color-red);
  width: 100%;
  height: 50vh;
  overflow: auto;
  padding: 50px 0;
}

.detalhes-lista__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: 50px 0; */
}

@media screen and (min-width: 1200px) {
}
