.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: flex;
}

.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-next,
.swiper-slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.swiper-slide .swiper-slide-active {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.events-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  /* padding: 40px 0 20px 0; */
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

.swiper-slide.swiper-slide-active {
  margin-right: 40px;
}
/* --color-blue-red: #511948; */

@media screen and (min-width: 992px) {
  /* .swiper-slide.swiper-slide-active,
  .swiper-slide.swiper-slide-next,
  .swiper-slide {
    display: flex;
    justify-content: center;
    margin: 0px;
  } */

  .events-box {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
  }
}