.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: flex;
}

.swiper-pagination {
  position: static;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-next,
.swiper-slide {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: static;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: static;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.events-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  /* padding: 40px 0 20px 0; */
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

.swiper-slide.swiper-slide-active {
  margin-right: 40px;
}
/* --color-blue-red: #511948; */

.proximos-eventos:first-of-type {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  /* .swiper-slide.swiper-slide-active,
  .swiper-slide.swiper-slide-next,
  .swiper-slide {
    display: flex;
    justify-content: center;
    margin: 0px;
  } */

  .events-box {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
  }
}
